@namespace Nekai.Razor
@inherits NekaiComponentBase

<li id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel">
    @if(Href is null)
    {
        <div class="dropdown-item">
            @ChildContent
        </div>
    }
    else
    {
        <a class="dropdown-item" href="@Href">
            @ChildContent
        </a>
    }
</li>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? Href { get; set; }
}