@namespace Nekai.Razor
@inherits NekaiComponentBase

<div id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel">
    <NekaiButton Class="dropdown-toggle" Color="@Color" Outline="@Outline" Rounding="@Rounding" Size="@Size">
        @DropDownLabel
    </NekaiButton>
    <ul class="dropdown-menu" role="menu">
        @DropDownEntries
    </ul>
</div>


@code {
    [Parameter]
    public bool OpenOnHover { get; set; }
    [Parameter]
    public RenderFragment? DropDownEntries { get; set; }
    [Parameter]
    public RenderFragment? DropDownLabel { get; set; }
    [Parameter]
    public Sizing Size { get; set; }
    [Parameter]
    public ButtonTheme Color { get; set; }
    [Parameter]
    public Outline Outline { get; set; } 
    [Parameter]
    public Rounding Rounding { get; set; } 
    [Parameter]
    public bool Required { get; set; }
    
    public override void AfterClassSet()
    {
        base.AfterClassSet();
        Class += " dropdown";
        if(OpenOnHover)
            Class += " dropdown-hover";
    }
}