@namespace Nekai.Razor
@using Nekai.Common
@inherits NekaiComponentBase

<div id="@Id" class="@Class accordion-item" style="@Style" aria-label="@AriaLabel">
    <div class="accordion-header" id="@HeaderId">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#{BodyId}")" aria-expanded="@Expanded" aria-controls="@BodyId">
            @Header
        </button>
    </div>

    <div id="@BodyId" class="accordion-collapse collapse @(Expanded ? "show" : "")" aria-labelledby="@HeaderId" data-bs-parent="@($"#{AccordionId}")">
        <div class="accordion-body">
            @Body
        </div>
    </div>
</div>

@code {
    /// <summary> The ID of this item's parent accordion. </summary>
    /// <remarks> If set, up to one panel will stay open at any time; otherwise, all panels can be opened simultaneously. </remarks>
    [Parameter]
    public string? AccordionId { get; set; }
    /// <summary> The content of the header of this item. </summary>
    [Parameter]
    public RenderFragment? Header { get; set; }
    /// <summary> The content of this item's body. </summary>
    [Parameter]
    public RenderFragment? Body { get; set; }
    [Parameter]
    public bool Expanded { get; set; }

    // Add a prefix to the ID since it breaks when the ID starts with a digit.
    protected string BodyId { get; } = "accordion-item-" + Guid.NewGuid();
    protected string HeaderId => BodyId + "-header";
}