@namespace Nekai.Razor
@inherits NekaiComponentBase

@typeparam T

<option id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel" selected="@Selected">
    @ChildContent
</option>

@code {
    [Parameter, EditorRequired]
    public T Value { get; set; } = default!;
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public bool Selected { get; set; }
}