@namespace Nekai.Razor
@inherits NekaiComponentBase

@if(Src is null)
{
    <span id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel">
        @ChildContent
    </span>
}
else
{
    <img src="@Src" alt="@Alt" class="@Class" style="@Style" aria-label="@AriaLabel"/>
}


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? Src { get; set; }
    [Parameter]
    public string? Alt { get; set;}
    [Parameter]
    public Breakpoint Size { get; set; } = Breakpoint.None;
    [Parameter]
    public Rounding Rounding { get; set; } = Rounding.Circle;

    public override void AfterClassSet()
    {
        base.AfterClassSet();
        Class += " avatar";
        
        if(Size != Breakpoint.None)
            Class += " avatar-" + Size.ToString().ToLower();

        if(Rounding != Rounding.Circle)
            Class += " rounding-" + (int)Rounding;
    }
}