@namespace Nekai.Razor
@inherits NekaiComponentBase

<div id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel">
    <div class="@_barClass" style="@_BarStyle" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@Progress"></div>
</div>

@code {
    /// <summary> The percentage of the progress to display. </summary>
    [Parameter]
    public int Progress { get; set; }
    /// <summary> Whether to stylize the bar with diagonal stripes. </summary>
    [Parameter]
    public bool Striped { get; set; }
    /// <summary> Whether the bar should be animated. </summary>
    [Parameter]
    public bool Animated { get; set; }
    /// <summary> The background color of the bar. </summary>
    [Parameter]
    public Theme Color
    {
        get => BackgroundColor;
        set => BackgroundColor = value;
    }
    /// <summary> The height of the bar. Defaults to "10px". </summary>
    [Parameter]
    public string Height { get; set; } = "10px";
    
    private string _barClass = "";
    private string _BarStyle => $"width: {Progress}%";
    
    public override void AfterClassSet()
    {
        base.AfterClassSet();
        Class += " progress";

        _barClass = "progress-bar";
        if(Striped)
            _barClass += " progress-bar-striped";
        if(Animated)
            _barClass += " progress-bar-animated";
    }

    public override void AfterStyleSet()
    {
        base.AfterStyleSet();

        Style += $"; height: {Height};";
    }
}