@namespace Nekai.Razor
@inherits NekaiComponentBase

<td id="@Id" class="@Class @Alignment.ToCLass()" style="@Style" aria-label="@AriaLabel" colspan="@ColSpan">
    @ChildContent
</td>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    /// <summary> The amount of columns occupied by this item. </summary>
    [Parameter]
    public int ColSpan { get; set; } = 1;
    [Parameter]
    public VerticalAlignment Alignment { get; set; }
}