@namespace Nekai.Razor
@inherits NekaiComponentBase

@typeparam T

<table id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel">
    @if(DataTableCaption is not null)
    {
        <caption>@DataTableCaption</caption>
    }
    
    <thead>
        <tr>
            @DataTableHeader
        </tr>
    </thead>
    
    <tbody>
        @if(Items.Any())
        {
            foreach(var item in Items)
            {
                <tr>
                    @DataTableRowTemplate?.Invoke(item)
                </tr>
            }
        }
        else
        {
            @DataTableEmptyDisplay
        }
    </tbody>
    
    <tfoot>
        <tr>
            @DataTableFooter
        </tr>
    </tfoot>
</table>

@code {
    [Parameter]
    public RenderFragment? DataTableHeader { get; set; }
    [Parameter]
    public RenderFragment? DataTableEmptyDisplay { get; set; }
    [Parameter]
    public RenderFragment<T>? DataTableRowTemplate { get; set; }
    [Parameter]
    public RenderFragment? DataTableFooter { get; set; }
    [Parameter]
    public RenderFragment? DataTableCaption { get; set; }
    [Parameter]
    public IEnumerable<T> Items { get; set; } = [];
    [Parameter]
    public bool StripedRows { get; set; }
    [Parameter]
    public bool StripedColumns { get; set; }
    [Parameter]
    public bool HighlightOnHover { get; set; }
    [Parameter]
    public bool Borderless { get; set; }
    [Parameter]
    public bool Compact { get; set; }
    [Parameter]
    public bool Responsive { get; set; }
    [Parameter]
    public VerticalAlignment Alignment { get; set; }
    [Parameter]
    public Theme Color { get; set; }
    
    public override void AfterClassSet()
    {
        base.AfterClassSet();

        Class += " table";
        if(Compact)
            Class += " table-sm";
        if(StripedRows)
            Class += " table-striped";
        if(StripedColumns)
            Class += " table-striped-columns";
        if(HighlightOnHover)
            Class += " table-hover";
        if(Borderless)
            Class += " table-borderless";
        if(Responsive)
            Class += " table-responsive";
        Class += ' ' + Color.AsTableClass();
        Class += ' ' + Alignment.ToCLass();
    }
}