@namespace Nekai.Razor
@inherits NekaiComponentBase

<li id="@Id" class="@Class nav-item" style="@Style" aria-label="@AriaLabel">
    <a class="nav-link @(Active ? "active" : "")" aria-current="@Active" href="@Href">
        @ChildContent
    </a>
</li>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public bool Active { get; set; }
    [Parameter]
    public string Href { get; set; } = "#";
}