@namespace Nekai.Razor
@using System.ComponentModel.DataAnnotations
@inherits NekaiComponentBase

<div id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel">
    <img src="@Src" class="@Position.AsCardImageClass()" alt="@AltText" aria-label="@AriaLabel" aria-labelledby="@AriaLabelledBy"/>
</div>

@code {
    [Parameter]
    public ImagePosition Position { get; set; }
    [Parameter]
    public string? Src { get; set; }
    [Parameter]
    public string? AriaLabelledBy { get; set; }
    [Parameter]
    public string AltText { get; set; } = "Image";
}