@namespace Nekai.Razor
@inherits NekaiComponentBase

<li id="@Id" class="@Class" style="@Style" aria-label="@AriaLabel" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="@($"#{ContentId}")" aria-controls="@ContentId">
        @ChildContent
    </a>
</li>


@code {
    [Parameter, EditorRequired]
    public string ContentId { get; set; } = "";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public bool Active { get; set; }

    public override void AfterClassSet()
    {
        base.AfterClassSet();

        Class += " nav-item";
        if(Active)
            Class += " active";
    }
}